Repository VARaymov/SausageStore: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend-job, backend-job, backend-report

frontend-job:
  stage: module-pipelines
  trigger:
    include:
    - /frontend/.gitlab-ci.yml
    strategy: depend

backend-job:
  stage: module-pipelines
  trigger:
    include:
    - /backend/.gitlab-ci.yml
    strategy: depend

backend-report:
  stage: module-pipelines
  trigger:
    include:
    - /backend-report/.gitlab-ci.yml
    strategy: depend

Update frontend/nginx.tmpl
  frontend/nginx.tmpl
Due: frontend-job

Update backend/pom.xml, docker-compose.yml, backend/backend_deploy.sh
  backend/backend_deploy.sh
  backend/pom.xml
  docker-compose.yml
Due: backend-job

Update docker-compose.yml
  docker-compose.yml
Due: none

Update backend/pom.xml, backend/src/main/resources/log4j2.yml, docker-compose.yml
  backend/pom.xml
  backend/src/main/resources/log4j2.yml
  docker-compose.yml
Due: backend-job

Update backend/backend_deploy.sh
  backend/backend_deploy.sh
Due: backend-job

Update backend/Dockerfile
  backend/Dockerfile
Due: backend-job

Update docker-compose.yml, backend/Dockerfile
  backend/Dockerfile
  docker-compose.yml
Due: backend-job

Update backend/src/main/resources/log4j2.yml
  backend/src/main/resources/log4j2.yml
Due: backend-job

Update frontend/Dockerfile
  frontend/Dockerfile
Due: frontend-job

Update backend/pom.xml
  backend/pom.xml
Due: backend-job

Prometheus metrics added
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/service/BusinessMetricsService.java
  backend/src/main/java/com/yandex/practicum/devops/service/OrderServiceImpl.java
  backend/src/main/resources/application.properties
Due: backend-job

Path conditions:
  frontend-job: any of: frontend/**/*
  backend-job: any of: backend/**/*
  backend-report: any of: backend-report/**/*
