Repository VARaymov/SausageStore: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend-code-job, build-frontend-code-job, telegram-notification-backend, telegram-notification-frontend

build-backend-code-job:
  stage: build
  script:
  - echo "BACKEND_JOB=$CI_JOB_ID" >> build.env
  - cd backend
  - mvn package
  - cd target
  - mkdir java
  - mv sausage-store-0.0.1-SNAPSHOT.jar java
  artifacts:
    paths:
    - backend/target/java/sausage-store-0.0.1-SNAPSHOT.jar
    reports:
      dotenv: build.env

build-frontend-code-job:
  stage: build
  script:
  - echo "FRONTEND_JOB=$CI_JOB_ID" >> build.env
  - cd frontend
  - npm install
  - npm run build
  artifacts:
    paths:
    - frontend/dist/frontend
    reports:
      dotenv: build.env

telegram-notification-backend:
  stage: notify
  script:
  ...

telegram-notification-frontend:
  stage: notify
  script:
  ...

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

send nofitication
  backend/example.txt
  frontend/example.txt
Due: build-backend-code-job, build-frontend-code-job, telegram-notification-backend, telegram-notification-frontend

not send notification
  backend/example.txt
  frontend/example.txt
Due: build-backend-code-job, build-frontend-code-job, telegram-notification-backend, telegram-notification-frontend

send notification
  backend/example.txt
Due: build-backend-code-job, telegram-notification-backend

/send notification/
  backend/example.txt
Due: build-backend-code-job, telegram-notification-backend

send notificaton
  backend/example.txt
Due: build-backend-code-job, telegram-notification-backend

Reporting available now
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/task/ReportGeneratorTask.java
  backend/src/main/resources/log4j2.yml
  backend/src/main/resources/logback.xml
  backend/src/test/java/com/yandex/practicum/devops/task/ReportGeneratorTaskTest.java
Due: build-backend-code-job, telegram-notification-backend

Add settings.xml and edit pom.xml
  .settings.xml
  backend/pom.xml
Due: build-backend-code-job, telegram-notification-backend

modified pom.xml
  backend/pom.xml
Due: build-backend-code-job, telegram-notification-backend

Modified pom.xml
  backend/pom.xml
Due: build-backend-code-job, telegram-notification-backend

Edit pom.xml
  backend/pom.xml
Due: build-backend-code-job, telegram-notification-backend

Path conditions:
  build-backend-code-job: any of: backend/*
  build-frontend-code-job: any of: frontend/*
  telegram-notification-backend: any of: backend/*
  telegram-notification-frontend: any of: frontend/*
