Repository VARaymov/SausageStore: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend-job, backend-job, backend-report

frontend-job:
  stage: module-pipelines
  trigger:
    include:
    - /frontend/.gitlab-ci.yml
    strategy: depend

backend-job:
  stage: module-pipelines
  trigger:
    include:
    - /backend/.gitlab-ci.yml
    strategy: depend

backend-report:
  stage: module-pipelines
  trigger:
    include:
    - /backend-report/.gitlab-ci.yml
    strategy: depend

Update backend/backend_deploy.sh
  backend/backend_deploy.sh
Due: backend-job

Update docker-compose.yml
  docker-compose.yml
Due: none

Update backend/backend_deploy.sh, docker-compose.yml, frontend/.gitlab-ci.yml, backend/.gitlab-ci.yml, frontend/frontend_deploy.sh
  backend/.gitlab-ci.yml
  backend/backend_deploy.sh
  docker-compose.yml
  frontend/.gitlab-ci.yml
  frontend/frontend_deploy.sh
Due: frontend-job, backend-job

Update backend-report/backend-report_deploy.sh, backend-report/.gitlab-ci.yml, docker-compose.yml, backend-report/Dockerfile
  backend-report/.gitlab-ci.yml
  backend-report/Dockerfile
  backend-report/backend-report_deploy.sh
  docker-compose.yml
Due: backend-report

Update backend-report/.gitlab-ci.yml
  backend-report/.gitlab-ci.yml
Due: backend-report

Update backend-report/backend-report_deploy.sh
  backend-report/backend-report_deploy.sh
Due: backend-report

Update backend/.gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: backend-job

Update backend/.gitlab-ci.yml, backend-report/.gitlab-ci.yml
  backend-report/.gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: backend-job, backend-report

Update backend-report/.gitlab-ci.yml, backend-report/backend-report_deploy.sh
  backend-report/.gitlab-ci.yml
  backend-report/backend-report_deploy.sh
Due: backend-report

Update backend-report/Dockerfile
  backend-report/Dockerfile
Due: backend-report

Update backend/backend_deploy.sh, frontend/frontend_deploy.sh
  backend/backend_deploy.sh
  frontend/frontend_deploy.sh
Due: frontend-job, backend-job

Update frontend/nginx.tmpl, frontend/Dockerfile, docker-compose.yml, frontend/.gitlab-ci.yml
  docker-compose.yml
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
  frontend/nginx.tmpl
Due: frontend-job

Update frontend/frontend_deploy.sh
  frontend/frontend_deploy.sh
Due: frontend-job

Update docker-compose.yml, frontend/nginx.tmpl
  docker-compose.yml
  frontend/nginx.tmpl
Due: frontend-job

Update docker-compose.yml, backend/backend_deploy.sh
  backend/backend_deploy.sh
  docker-compose.yml
Due: backend-job

Update frontend/nginx.tmpl
  frontend/nginx.tmpl
Due: frontend-job

Path conditions:
  frontend-job: any of: frontend/**/*
  backend-job: any of: backend/**/*
  backend-report: any of: backend-report/**/*
